$color-main: #AD1FEA;
$color-second: #4661E6;
$color-third: #4661E6;
$color-fourth: #FFFFFF;
$color-fifth: #F2F4FF;
$color-sixth: #F7F8FD;
$color-seventh: #3A4374;
$color-eighth: #647196;
$color-ninth: #F49F85;
$color-tenth: #62BCFA;

$font-family: 'Jost', sans-serif;

$grid-gutter: 30px;
$container-gutter: 24px;
$container-width: 1110px;